{
  "**/*.+(js|jsx|ts|tsx)": [
    "npm run lint -- --max-warnings=0"
  ],
  "**/*.+(js|jsx|ts|tsx|json|css|scss|html|md)": [
    "prettier --write",
    "npm run test:ci -- --findRelatedTests"
  ]
}
